<!DOCTYPE html>
<html>
<head>
	<title>Python Starter Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
</head>
<body>
<form id="formUpload" action="../uploadfile" method="post" enctype=multipart/form-data>
<table>
    
			<tr>
             
			<td>username</td>
			<td><input type="text" name="name"/></td>
		</tr>
        <tr>
			<td>Description</td>
			<td><input type="text" name="description"/></td>
		</tr>
			<td>
				
				<p class='description'></p> Please upload your documents here:<br><input type = "file" name="file_upload"/>
				
			</td>
		</tr>
    <tr> <td><input type="submit" value="Submit" id="submit_file"></td></tr>
    </table>
    </form>
</body>
</html>
